body{
    background-image: url(image1.jpg);
    background-size: cover;
}

textarea {
  margin-top: 30px;
    width: 350px;
    height: 100px;
    background-color: aqua;
  }

  #area{
      display: block;
      text-align: center;
      margin-top: 20%;
  }

  #count{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    color: #fff;
    font-size: 30px;
  }
  h3{
    color: white;
    font-weight: bold;
    margin-top: 70px;
  }